@charset "UTF-8";
html{height: 100%;}

h1
{
	text-transform: uppercase;
    margin: -101px 0px 20px 0px;
    padding: 5px 20px 5px 0px;
    border-bottom: 1px solid #CCC6B4;
    font-size: 40px;
}
  
body
{
  background: aliceblue;
}
  
.details-form
{
	border-radius: 5px;
    background-color: aliceblue;
    padding: 236px;
    font-size: 25px;
    text-align: center;
}

.confirm-form
{
	border-radius: 5px;
    background-color: aliceblue;
    padding: 305px;
    font-size: 25px;
    text-align: center;
	
}
.booking-form
{
	border-radius: 5px;
    background-color: aliceblue;
    padding: 249px;
    font-size: 25px;
    text-align: center;
}
.menu-form
{
	border-radius: 5px;
    background-color: aliceblue;
    padding: 249px;
    font-size: 25px;
    text-align: center;
}

.form_settings
{ margin: 35px 0 0 0;
}

.form_settings button
{ font: 100% arial; 
  border: 0px solid; 
  width: 84px; 
  margin: 0 0 0 2px; 
  height: 30px;
  padding: 0 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;
  }
  
.form_settings button:hover{
	background : #00C5EE;
	color: #FFF;
}

.form_settings select
{    width: 400px;
    height: 35px;}

.form_settings input
{   width: 400px;
    border: 1px solid #E5E5DB;
    background: #FFF;
    color: #47433F;
    font-size: 15px;
    height: 35px;
  }